flow — копия.json
[{"id":"7cd8b328.dccc34","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"2e7c0ab1.757bb6","type":"tab","label":"real plc","disabled":true,"info":""},{"id":"f0a3869a.177bb8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3548963e.888d6a","type":"s7 endpoint","z":"7cd8b328.dccc34","transport":"iso-on-tcp","address":"192.168.10.103","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"PLCSIM","vartable":[{"addr":"DB2,I4","name":"CHDI[1].STA"},{"addr":"DB2,I6","name":"CHDI[1].VAL"},{"addr":"DB2,I8","name":"CHDI[2].STA"},{"addr":"DB2,I10","name":"CHDI[2].VAL"},{"addr":"DB3,I0","name":"CHBUF.ID"},{"addr":"DB3,I2","name":"CHBUF.CLSID"},{"addr":"DB3,I4","name":"CHBUF.STA"},{"addr":"DB3,I6","name":"CHBUF.CMD"},{"addr":"DB3,I8","name":"CHBUF.VAL"},{"addr":"DB3,I10","name":"CHBUF.VARID"}]},{"id":"7b0cef48.67d668","type":"s7 endpoint","z":"","transport":"iso-on-tcp","address":"192.168.1.120","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"S7-1200","vartable":[{"addr":"DB1,X0.1","name":"MEA1"},{"addr":"DB1,R2","name":"RAMP"},{"addr":"DB1,R6","name":"SIN"}]},{"id":"887da873.2fd148","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"263be2e.0c5ca9e","type":"ui_group","z":"","name":"Default","tab":"887da873.2fd148","order":1,"disp":true,"width":"23","collapse":false},{"id":"5475c407.345374","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b722e82f.c65448","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"be703216.8405c8","type":"s7 in","z":"7cd8b328.dccc34","endpoint":"3548963e.888d6a","mode":"single","variable":"CHDI[1].STA","diff":false,"name":"","x":210,"y":40,"wires":[["6da6addf.b0279c"]]},{"id":"6da6addf.b0279c","type":"debug","z":"7cd8b328.dccc34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":40,"wires":[]},{"id":"d17237a5.f6ea18","type":"s7 out","z":"7cd8b328.dccc34","endpoint":"3548963e.888d6a","variable":"CHDI[1].STA","name":"","x":340,"y":160,"wires":[]},{"id":"49cac438.09fa5c","type":"inject","z":"7cd8b328.dccc34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-1","payloadType":"num","x":150,"y":160,"wires":[["b0e3c155.33de4","d17237a5.f6ea18"]]},{"id":"b0e3c155.33de4","type":"debug","z":"7cd8b328.dccc34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":120,"wires":[]},{"id":"54bc8de3.d79334","type":"s7 control","z":"7cd8b328.dccc34","endpoint":"3548963e.888d6a","function":"cycletime","name":"","x":300,"y":260,"wires":[["5612f7ee.0597f8"]]},{"id":"5612f7ee.0597f8","type":"debug","z":"7cd8b328.dccc34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":240,"wires":[]},{"id":"f81b2cd5.92f17","type":"inject","z":"7cd8b328.dccc34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":100,"y":240,"wires":[["54bc8de3.d79334"]]},{"id":"1e570f4e.b2b749","type":"s7 control","z":"7cd8b328.dccc34","endpoint":"3548963e.888d6a","function":"trigger","name":"","x":350,"y":340,"wires":[["5612f7ee.0597f8"]]},{"id":"acfb5d32.c21f2","type":"inject","z":"7cd8b328.dccc34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":160,"y":340,"wires":[["1e570f4e.b2b749"]]},{"id":"e5bb5eee.22592","type":"s7 control","z":"7cd8b328.dccc34","endpoint":"3548963e.888d6a","function":"","name":"","x":290,"y":420,"wires":[["5612f7ee.0597f8"]]},{"id":"f09bcd6f.08c1e8","type":"inject","z":"7cd8b328.dccc34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":100,"y":400,"wires":[["e5bb5eee.22592"]]},{"id":"8b192894.beb558","type":"inject","z":"7cd8b328.dccc34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":520,"y":140,"wires":[["a15a7c01.2c123"]]},{"id":"85b296fb.43ac88","type":"debug","z":"7cd8b328.dccc34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":160,"wires":[]},{"id":"a15a7c01.2c123","type":"change","z":"7cd8b328.dccc34","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":140,"wires":[["85b296fb.43ac88"]]},{"id":"a8666eda.f4a5c","type":"s7 in","z":"2e7c0ab1.757bb6","endpoint":"7b0cef48.67d668","mode":"single","variable":"MEA1","diff":true,"name":"","x":170,"y":100,"wires":[["7281295f.74b8d","50246c31.a7cd54"]]},{"id":"97745f85.ba2c18","type":"s7 in","z":"2e7c0ab1.757bb6","endpoint":"7b0cef48.67d668","mode":"single","variable":"RAMP","diff":true,"name":"","x":170,"y":200,"wires":[["d9dafde3.0f62d8","92990390.dd98e8","1729c74e.d73a21"]]},{"id":"4bdb12c9.57dfd4","type":"s7 in","z":"2e7c0ab1.757bb6","endpoint":"7b0cef48.67d668","mode":"single","variable":"SIN","diff":true,"name":"","x":150,"y":300,"wires":[["bacfa615.1dedc8","7d28bb55.a8452c","1729c74e.d73a21","145d9ef6.2a5b51"]]},{"id":"7281295f.74b8d","type":"debug","z":"2e7c0ab1.757bb6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":80,"wires":[]},{"id":"d9dafde3.0f62d8","type":"debug","z":"2e7c0ab1.757bb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":180,"wires":[]},{"id":"bacfa615.1dedc8","type":"debug","z":"2e7c0ab1.757bb6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":300,"wires":[]},{"id":"92990390.dd98e8","type":"ui_gauge","z":"2e7c0ab1.757bb6","name":"","group":"263be2e.0c5ca9e","order":1,"width":"4","height":"4","gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":220,"wires":[]},{"id":"7d28bb55.a8452c","type":"ui_gauge","z":"2e7c0ab1.757bb6","name":"","group":"263be2e.0c5ca9e","order":2,"width":"4","height":"4","gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":"-1","max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":340,"wires":[]},{"id":"50246c31.a7cd54","type":"ui_button","z":"2e7c0ab1.757bb6","name":"","group":"263be2e.0c5ca9e","order":0,"width":"4","height":"4","passthru":false,"label":"{{payload}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":370,"y":120,"wires":[[]]},{"id":"1729c74e.d73a21","type":"ui_chart","z":"2e7c0ab1.757bb6","name":"","group":"263be2e.0c5ca9e","order":3,"width":"8","height":"8","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":370,"y":260,"wires":[[]]},{"id":"3f2f49a9.c51566","type":"mqtt out","z":"2e7c0ab1.757bb6","name":"","topic":"NUFT TI4/Variant2/TT101","qos":"","retain":"","broker":"b722e82f.c65448","x":590,"y":440,"wires":[]},{"id":"145d9ef6.2a5b51","type":"change","z":"2e7c0ab1.757bb6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload + 1) * 50","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":400,"wires":[["3f2f49a9.c51566"]]},{"id":"a8ae4c07.748f9","type":"inject","z":"f0a3869a.177bb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":60,"wires":[["c12aecce.60fbc"]]},{"id":"c12aecce.60fbc","type":"file in","z":"f0a3869a.177bb8","name":"","filename":"C:\\Users\\san\\.node-red\\projects\\s7tcpip\\flow.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":500,"y":100,"wires":[["c0cc7335.313d1"]]},{"id":"f092704e.6f57e8","type":"debug","z":"f0a3869a.177bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":380,"wires":[]},{"id":"c0cc7335.313d1","type":"json","z":"f0a3869a.177bb8","name":"","property":"payload","action":"","pretty":false,"x":130,"y":180,"wires":[["7f3d3eeb.b7cf7"]]},{"id":"7f3d3eeb.b7cf7","type":"split","z":"f0a3869a.177bb8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":290,"y":180,"wires":[["a1a8aaf0.72cc9"]]},{"id":"a1a8aaf0.72cc9","type":"switch","z":"f0a3869a.177bb8","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"s7 endpoint","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":240,"wires":[["f092704e.6f57e8"]]}]