flow.json
[{"id":"7cd8b328.dccc34","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"2e7c0ab1.757bb6","type":"tab","label":"real plc","disabled":true,"info":""},{"id":"f0a3869a.177bb8","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"6a38c0bd.801a9","type":"tab","label":"S7","disabled":false,"info":""},{"id":"60cc6c68.946404","type":"tab","label":"PLCFN","disabled":false,"info":""},{"id":"d5e4d39c.6d5aa8","type":"tab","label":"chanels","disabled":false,"info":""},{"id":"3548963e.888d6a","type":"s7 endpoint","z":"7cd8b328.dccc34","transport":"iso-on-tcp","address":"192.168.10.103","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"1000","name":"PLCSIM","vartable":[{"addr":"DB1,I0","name":"Var0"},{"addr":"DB1,I1","name":"Var1"},{"addr":"DB1,I2","name":"Var2"},{"addr":"DB1,I3","name":"Var3"},{"addr":"DB1,I4","name":"Var4"},{"addr":"DB1,I5","name":"Var5"},{"addr":"DB1,I6","name":"Var6"},{"addr":"DB1,I7","name":"Var7"},{"addr":"DB1,I8","name":"Var8"},{"addr":"DB1,I9","name":"Var9"}]},{"id":"7b0cef48.67d668","type":"s7 endpoint","z":"","transport":"iso-on-tcp","address":"192.168.10.103","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"1000","name":"S7-1200","vartable":[{"addr":"DB1,BYTE0.100","name":"PLCFG"},{"addr":"DB5,BYTE0.256","name":"MODULES"},{"addr":"DB3,BYTE0.12","name":"CHBUF"},{"addr":"DB3,BYTE12.72","name":"SUBMODULE"}]},{"id":"887da873.2fd148","type":"ui_tab","z":"","name":"PLC","icon":"dashboard","disabled":false,"hidden":false},{"id":"5475c407.345374","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":40,"sy":40,"gx":6,"gy":6,"cx":3,"cy":3,"px":0,"py":0}}},{"id":"b722e82f.c65448","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"400331db.f015d","type":"ui_group","z":"","name":"banner","tab":"887da873.2fd148","order":1,"disp":false,"width":"6","collapse":false},{"id":"b21cecb6.492258","type":"ui_group","z":"","name":"tags1","tab":"887da873.2fd148","order":3,"disp":true,"width":5,"collapse":false},{"id":"66385b7e.c49274","type":"ui_group","z":"","name":"tags2","tab":"887da873.2fd148","order":2,"disp":true,"width":"5","collapse":true},{"id":"2f10bcc4.607064","type":"ui_spacer","name":"spacer","group":"66385b7e.c49274","order":2,"width":1,"height":1},{"id":"fed38678.421bf8","type":"ui_tab","z":"","name":"CHS","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"e55006e6.6c052","type":"ui_group","z":"","name":"modules","tab":"fed38678.421bf8","order":1,"disp":true,"width":"23","collapse":false},{"id":"be703216.8405c8","type":"s7 in","z":"7cd8b328.dccc34","endpoint":"3548963e.888d6a","mode":"single","variable":"CHDI[1].STA","diff":false,"name":"","x":210,"y":40,"wires":[["6da6addf.b0279c"]]},{"id":"6da6addf.b0279c","type":"debug","z":"7cd8b328.dccc34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":40,"wires":[]},{"id":"d17237a5.f6ea18","type":"s7 out","z":"7cd8b328.dccc34","endpoint":"3548963e.888d6a","variable":"CHDI[1].STA","name":"","x":340,"y":160,"wires":[]},{"id":"49cac438.09fa5c","type":"inject","z":"7cd8b328.dccc34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-1","payloadType":"num","x":150,"y":160,"wires":[["b0e3c155.33de4","d17237a5.f6ea18"]]},{"id":"b0e3c155.33de4","type":"debug","z":"7cd8b328.dccc34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":120,"wires":[]},{"id":"54bc8de3.d79334","type":"s7 control","z":"7cd8b328.dccc34","endpoint":"3548963e.888d6a","function":"cycletime","name":"","x":300,"y":260,"wires":[["5612f7ee.0597f8"]]},{"id":"5612f7ee.0597f8","type":"debug","z":"7cd8b328.dccc34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":240,"wires":[]},{"id":"f81b2cd5.92f17","type":"inject","z":"7cd8b328.dccc34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":100,"y":240,"wires":[["54bc8de3.d79334"]]},{"id":"1e570f4e.b2b749","type":"s7 control","z":"7cd8b328.dccc34","endpoint":"3548963e.888d6a","function":"trigger","name":"","x":350,"y":340,"wires":[["5612f7ee.0597f8"]]},{"id":"acfb5d32.c21f2","type":"inject","z":"7cd8b328.dccc34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":160,"y":340,"wires":[["1e570f4e.b2b749"]]},{"id":"e5bb5eee.22592","type":"s7 control","z":"7cd8b328.dccc34","endpoint":"3548963e.888d6a","function":"","name":"","x":290,"y":420,"wires":[["5612f7ee.0597f8"]]},{"id":"f09bcd6f.08c1e8","type":"inject","z":"7cd8b328.dccc34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":100,"y":400,"wires":[["e5bb5eee.22592"]]},{"id":"8b192894.beb558","type":"inject","z":"7cd8b328.dccc34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":520,"y":140,"wires":[["a15a7c01.2c123"]]},{"id":"85b296fb.43ac88","type":"debug","z":"7cd8b328.dccc34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":160,"wires":[]},{"id":"a15a7c01.2c123","type":"change","z":"7cd8b328.dccc34","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":140,"wires":[["85b296fb.43ac88"]]},{"id":"a8666eda.f4a5c","type":"s7 in","z":"2e7c0ab1.757bb6","endpoint":"7b0cef48.67d668","mode":"single","variable":"MEA1","diff":true,"name":"","x":170,"y":100,"wires":[["7281295f.74b8d"]]},{"id":"97745f85.ba2c18","type":"s7 in","z":"2e7c0ab1.757bb6","endpoint":"7b0cef48.67d668","mode":"single","variable":"RAMP","diff":true,"name":"","x":170,"y":200,"wires":[["d9dafde3.0f62d8"]]},{"id":"4bdb12c9.57dfd4","type":"s7 in","z":"2e7c0ab1.757bb6","endpoint":"7b0cef48.67d668","mode":"single","variable":"SIN","diff":true,"name":"","x":150,"y":300,"wires":[["bacfa615.1dedc8","145d9ef6.2a5b51"]]},{"id":"7281295f.74b8d","type":"debug","z":"2e7c0ab1.757bb6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":80,"wires":[]},{"id":"d9dafde3.0f62d8","type":"debug","z":"2e7c0ab1.757bb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":180,"wires":[]},{"id":"bacfa615.1dedc8","type":"debug","z":"2e7c0ab1.757bb6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":300,"wires":[]},{"id":"3f2f49a9.c51566","type":"mqtt out","z":"2e7c0ab1.757bb6","name":"","topic":"NUFT TI4/Variant2/TT101","qos":"","retain":"","broker":"b722e82f.c65448","x":590,"y":440,"wires":[]},{"id":"145d9ef6.2a5b51","type":"change","z":"2e7c0ab1.757bb6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload + 1) * 50","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":400,"wires":[["3f2f49a9.c51566"]]},{"id":"a8ae4c07.748f9","type":"inject","z":"f0a3869a.177bb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":60,"wires":[["c12aecce.60fbc"]]},{"id":"c12aecce.60fbc","type":"file in","z":"f0a3869a.177bb8","name":"","filename":"C:\\Users\\san\\.node-red\\projects\\s7tcpip\\flow.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":500,"y":100,"wires":[["c0cc7335.313d1"]]},{"id":"f092704e.6f57e8","type":"debug","z":"f0a3869a.177bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":440,"wires":[]},{"id":"c0cc7335.313d1","type":"json","z":"f0a3869a.177bb8","name":"","property":"payload","action":"","pretty":false,"x":130,"y":180,"wires":[["7f3d3eeb.b7cf7"]]},{"id":"7f3d3eeb.b7cf7","type":"split","z":"f0a3869a.177bb8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":290,"y":180,"wires":[["a1a8aaf0.72cc9"]]},{"id":"a1a8aaf0.72cc9","type":"switch","z":"f0a3869a.177bb8","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"s7 endpoint","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":180,"wires":[["33de73f6.a4a53c"],["7c509613.88ec48"]]},{"id":"33de73f6.a4a53c","type":"switch","z":"f0a3869a.177bb8","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"PLCSIM","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":180,"wires":[["a52471aa.1a3708"],["7c509613.88ec48"]]},{"id":"a52471aa.1a3708","type":"function","z":"f0a3869a.177bb8","name":"","func":"msg.payload.vartable = [];\nfor (let i=0; i<10; i++){\n    msg.payload.vartable[i] = {\n        addr : \"DB1,I\" + i , \n        name : \"Var\" + i \n    };\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":240,"wires":[["7c509613.88ec48"]]},{"id":"7c509613.88ec48","type":"join","z":"f0a3869a.177bb8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":540,"y":320,"wires":[["3038704d.495ef"]]},{"id":"3038704d.495ef","type":"json","z":"f0a3869a.177bb8","name":"","property":"payload","action":"","pretty":false,"x":370,"y":380,"wires":[["4dbcafd0.f86a3"]]},{"id":"4dbcafd0.f86a3","type":"file","z":"f0a3869a.177bb8","name":"","filename":"C:\\Users\\san\\.node-red\\projects\\s7tcpip\\flow.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":310,"y":480,"wires":[["f092704e.6f57e8"]]},{"id":"3d03536f.c449bc","type":"s7 in","z":"6a38c0bd.801a9","endpoint":"7b0cef48.67d668","mode":"single","variable":"PLCFG","diff":true,"name":"","x":110,"y":120,"wires":[["6b2879a9.faa7d8"]]},{"id":"3413756.e94040a","type":"inject","z":"60cc6c68.946404","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":95,"y":60,"wires":[["1b4df219.13aede"]],"l":false},{"id":"1d5b0bad.2cde14","type":"file in","z":"60cc6c68.946404","name":"json","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":235,"y":60,"wires":[["d9fcb95.707fd48"]],"l":false},{"id":"1b4df219.13aede","type":"function","z":"60cc6c68.946404","name":"","func":"msg.filename = global.get ('jsonpath') + 'plccfg.json';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":175,"y":60,"wires":[["1d5b0bad.2cde14"]],"l":false},{"id":"8308e59f.41e048","type":"debug","z":"60cc6c68.946404","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":515,"y":60,"wires":[],"l":false},{"id":"d9fcb95.707fd48","type":"json","z":"60cc6c68.946404","name":"","property":"payload","action":"","pretty":false,"x":295,"y":60,"wires":[["43eb5f40.5ccae8"]],"l":false},{"id":"9912bb93.4f23e8","type":"change","z":"60cc6c68.946404","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":120,"wires":[[]]},{"id":"231d1c57.aea134","type":"link in","z":"60cc6c68.946404","name":"toplcfn","links":["e41aacd.6e8375"],"x":65,"y":180,"wires":[["cfd28ee5.798be8","b745d249.212aa8"]]},{"id":"43eb5f40.5ccae8","type":"change","z":"60cc6c68.946404","name":"","rules":[{"t":"set","p":"plc1.plccfg","pt":"global","to":"payload.plccfg","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":355,"y":60,"wires":[["8308e59f.41e048"]],"l":false},{"id":"b745d249.212aa8","type":"function","z":"60cc6c68.946404","name":"toplcrt","func":"const plccfg = global.get (\"plc1.plccfg\");\nconst plcrt = {}; \nlet val, adr, adrw, mask;\nif (!plccfg) return null;\nconst buf = Buffer.from(msg.payload);\nfor (const prop in plccfg){\n    type = plccfg[prop].type;\n    adrw = plccfg[prop].adr;\n    adr = adrw*2;\n    if (prop === 'NOW') {\n    \n    } else if (prop === 'SHIFTPARA'){\n        \n    } else {    \n        switch (type) {\n            case 'UINT':\n                //to fututure chck protocol type\n                val = buf.readUInt16BE(adr);\n                break;\n            case 'INT':\n                val = buf.readInt16BE(adr);\n                break;\n            case 'UDINT':\n                val = buf.readUInt32BE(adr);\n                break;\n            case 'DINT':\n                val = buf.readInt32BE(adr);\n                break;\n            case 'REAL':\n                val = buf.readFloatBE(adr);\n                break;\n            case 'BOOL':\n                if (adrw === 2) adrw=38;//perm\n                if (adrw === 8) adrw=39;\n                adr = adrw * 2;\n                bit = plccfg[prop].bit;\n                mask = 1 << bit;\n                val = ((buf.readInt16LE(adr) & mask) !== 0);\n                break;\n        }    \n    }\n    plcrt[prop] = {\n        decsr: plccfg[prop].descr,\n        val: val,\n        type: type\n    }      \n    //console.log(`${prop}`);\n}\nglobal.set (\"plc1.plcrt\", plcrt);\nmsg.payload = plcrt;\nmsg.topic = \"plcrt\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":180,"wires":[["a787a538.e310c","cfd28ee5.798be8","6e50e8d9.5cca88"]]},{"id":"e41aacd.6e8375","type":"link out","z":"6a38c0bd.801a9","name":"plcfroms7","links":["231d1c57.aea134"],"x":315,"y":120,"wires":[]},{"id":"cfd28ee5.798be8","type":"debug","z":"60cc6c68.946404","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":115,"y":240,"wires":[],"l":false},{"id":"a787a538.e310c","type":"function","z":"60cc6c68.946404","name":"leds","func":"let M = (msg.payload.DISP.val > 0) ? 'blue' : 'LightGrey';\nlet F = (msg.payload.FRC.val > 0) ? 'DarkBlue' : 'LightGrey';\nlet S = (msg.payload.SML.val > 0) ? 'cyan' : 'LightGrey';\nlet W = (msg.payload.WRN.val > 0) ? 'yellow' : 'LightGrey';\nlet A = (msg.payload.ALM.val > 0) ? 'red' : 'LightGrey';\nlet E = (msg.payload.BAD.val > 0) ? 'gold' : 'LightGrey';\n\nmsg.payload = [{M,F,S,W,A,E}];   \nreturn msg;\n\n/*- М – це наявність хоча б одного виконавчого механізму в ручному режимі, темно-синій \n- F – наявність хоча б одного форсування, темно-синій\n- S – наявність хоча б одного об'єкта (CM/EM/UNIT) в режимі імітації, блакитний \n- W – наявність хоча б однієї тривоги рівня \"попередження\" (моргає при неквітованій), жовтий \n- A – наявність хоча б однієї тривоги рівня \"аварія\" (моргає при неквітованій), червоний. \n- E – наявність хоча б однієї тривоги рівня \"недостовірність\" (моргає при неквітованій), рожевий. \nДодатковими бітами статусу для відображення також можуть бути: \n\n- наявність хоча б одного біта недостовірності, \n- наявність хоча б однієї відключеної змінної (виведеної з обслуговування), \n- \"процедура технологічної комірки в роботі/паузі/утримання\", \n- \"апарат в роботі/паузі/утримання\", \n- \"CIP в роботі/паузі/утримання\".\n*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":180,"wires":[["cafe1ef2.d0ed1"]]},{"id":"cafe1ef2.d0ed1","type":"ui_table","z":"60cc6c68.946404","group":"400331db.f015d","name":"","order":1,"width":6,"height":1,"columns":[{"field":"M","title":"M","width":"15%","align":"left","formatter":"color","formatterParams":{"target":"_blank"}},{"field":"F","title":"F","width":"15%","align":"left","formatter":"color","formatterParams":{"target":"_blank"}},{"field":"S","title":"S","width":"15%","align":"left","formatter":"color","formatterParams":{"target":"_blank"}},{"field":"W","title":"W","width":"15%","align":"left","formatter":"color","formatterParams":{"target":"_blank"}},{"field":"A","title":"A","width":"15%","align":"left","formatter":"color","formatterParams":{"target":"_blank"}},{"field":"E","title":"E","width":"15%","align":"left","formatter":"color","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":530,"y":180,"wires":[]},{"id":"f4bd9105.3267d","type":"ui_table","z":"60cc6c68.946404","group":"b21cecb6.492258","name":"","order":1,"width":"4","height":"30","columns":[],"outputs":0,"cts":false,"x":530,"y":220,"wires":[]},{"id":"6e50e8d9.5cca88","type":"function","z":"60cc6c68.946404","name":"allnumeric","func":"let msg1 = {payload:[]};\nlet msg2 = {payload:[]};\nlet msg3 = {payload:[]};\nlet i1=0, i2 =0, i3=0;\nfor (const prop in msg.payload){\n    if (msg.payload[prop].type === 'BOOL'){\n        msg1.payload[i1] = {'name' : prop, 'val' : msg.payload[prop].val }\n        i1++;\n    } else {\n        msg2.payload[i2] = {'name' : prop, 'val' : msg.payload[prop].val }\n        i2++;\n    }\n}    \nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":380,"y":260,"wires":[["f4bd9105.3267d","442b2ee.75f245"],["10209233.ba5a56"],[]]},{"id":"442b2ee.75f245","type":"debug","z":"60cc6c68.946404","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":340,"wires":[]},{"id":"10209233.ba5a56","type":"ui_table","z":"60cc6c68.946404","group":"66385b7e.c49274","name":"","order":1,"width":"4","height":"26","columns":[],"outputs":0,"cts":false,"x":530,"y":260,"wires":[]},{"id":"6b2879a9.faa7d8","type":"change","z":"6a38c0bd.801a9","name":"","rules":[{"t":"set","p":"protocol","pt":"msg","to":"S7","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":255,"y":120,"wires":[["e41aacd.6e8375"]],"l":false},{"id":"40e765e7.df381c","type":"inject","z":"60cc6c68.946404","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":95,"y":100,"wires":[["dccc1b47.fe7ec8"]],"l":false},{"id":"dccc1b47.fe7ec8","type":"change","z":"60cc6c68.946404","name":"","rules":[{"t":"set","p":"jsonpath","pt":"global","to":"G:/san/PLCFramework/GitVer/json/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":155,"y":100,"wires":[[]],"l":false},{"id":"72b18591.13adfc","type":"inject","z":"d5e4d39c.6d5aa8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":95,"y":60,"wires":[["a70543a7.3c46a","fceb299d.262fb","b61f547e.feb29","359bcf66.6f771"]],"l":false},{"id":"4d59a2c6.8d9644","type":"file in","z":"d5e4d39c.6d5aa8","name":"json","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":235,"y":60,"wires":[["d96c7842.d263e8"]],"l":false},{"id":"a70543a7.3c46a","type":"function","z":"d5e4d39c.6d5aa8","name":"","func":"msg.filename = global.get ('jsonpath') + 'ch_cfg.json';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":175,"y":60,"wires":[["4d59a2c6.8d9644"]],"l":false},{"id":"1bdffbac.c0a3c4","type":"debug","z":"d5e4d39c.6d5aa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":515,"y":60,"wires":[],"l":false},{"id":"d96c7842.d263e8","type":"json","z":"d5e4d39c.6d5aa8","name":"","property":"payload","action":"","pretty":false,"x":295,"y":60,"wires":[["a8e09704.ad6268"]],"l":false},{"id":"a8e09704.ad6268","type":"change","z":"d5e4d39c.6d5aa8","name":"","rules":[{"t":"set","p":"plc1.ch_cfg","pt":"global","to":"payload.ch_cfg","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":355,"y":60,"wires":[["1bdffbac.c0a3c4"]],"l":false},{"id":"fceb299d.262fb","type":"function","z":"d5e4d39c.6d5aa8","name":"","func":"msg.filename = global.get ('jsonpath') + 'ch_hmi.json';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":175,"y":100,"wires":[["a3f2acfd.a5c27"]],"l":false},{"id":"b61f547e.feb29","type":"function","z":"d5e4d39c.6d5aa8","name":"","func":"msg.filename = global.get ('jsonpath') + 'module.json';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":175,"y":140,"wires":[["ceb49178.1f2c28"]],"l":false},{"id":"359bcf66.6f771","type":"function","z":"d5e4d39c.6d5aa8","name":"","func":"msg.filename = global.get ('jsonpath') + 'submodule.json';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":175,"y":180,"wires":[["8b2d3e33.5eedf8"]],"l":false},{"id":"a3f2acfd.a5c27","type":"file in","z":"d5e4d39c.6d5aa8","name":"json","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":235,"y":100,"wires":[["94ce6d13.e22f"]],"l":false},{"id":"94ce6d13.e22f","type":"json","z":"d5e4d39c.6d5aa8","name":"","property":"payload","action":"","pretty":false,"x":295,"y":100,"wires":[["728ced26.d06ae4"]],"l":false},{"id":"728ced26.d06ae4","type":"change","z":"d5e4d39c.6d5aa8","name":"","rules":[{"t":"set","p":"plc1.ch_hmi","pt":"global","to":"payload.ch_hmi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":355,"y":100,"wires":[["1bdffbac.c0a3c4"]],"l":false},{"id":"ceb49178.1f2c28","type":"file in","z":"d5e4d39c.6d5aa8","name":"json","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":235,"y":140,"wires":[["9f3bcde6.88726"]],"l":false},{"id":"9f3bcde6.88726","type":"json","z":"d5e4d39c.6d5aa8","name":"","property":"payload","action":"","pretty":false,"x":295,"y":140,"wires":[["cbfc380.174bcc8"]],"l":false},{"id":"cbfc380.174bcc8","type":"change","z":"d5e4d39c.6d5aa8","name":"","rules":[{"t":"set","p":"plc1.module","pt":"global","to":"payload.module","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":355,"y":140,"wires":[["1bdffbac.c0a3c4"]],"l":false},{"id":"8b2d3e33.5eedf8","type":"file in","z":"d5e4d39c.6d5aa8","name":"json","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":235,"y":180,"wires":[["70ed24d3.a4c19c"]],"l":false},{"id":"70ed24d3.a4c19c","type":"json","z":"d5e4d39c.6d5aa8","name":"","property":"payload","action":"","pretty":false,"x":295,"y":180,"wires":[["efcb8f7a.ce585"]],"l":false},{"id":"efcb8f7a.ce585","type":"change","z":"d5e4d39c.6d5aa8","name":"","rules":[{"t":"set","p":"plc1.submodule","pt":"global","to":"payload.submodule","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":355,"y":180,"wires":[["1bdffbac.c0a3c4"]],"l":false},{"id":"ae4b1acd.1d33b8","type":"s7 in","z":"6a38c0bd.801a9","endpoint":"7b0cef48.67d668","mode":"single","variable":"MODULES","diff":false,"name":"","x":120,"y":200,"wires":[["2bd7a237.9d5656"]]},{"id":"2bd7a237.9d5656","type":"change","z":"6a38c0bd.801a9","name":"","rules":[{"t":"set","p":"protocol","pt":"msg","to":"S7","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":235,"y":180,"wires":[["661dfd21.48bb14"]],"l":false},{"id":"65d22cac.943bc4","type":"link in","z":"d5e4d39c.6d5aa8","name":"tochanels","links":["661dfd21.48bb14"],"x":115,"y":300,"wires":[["71015543.9eb58c","e5b78f8e.3a24c8"]]},{"id":"661dfd21.48bb14","type":"link out","z":"6a38c0bd.801a9","name":"chansfroms7","links":["65d22cac.943bc4"],"x":295,"y":180,"wires":[]},{"id":"71015543.9eb58c","type":"debug","z":"d5e4d39c.6d5aa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":375,"y":340,"wires":[],"l":false},{"id":"e5b78f8e.3a24c8","type":"function","z":"d5e4d39c.6d5aa8","name":"tomodules","func":"const plcrt = global.get (\"plc1.plcrt\");\nconst module = global.get (\"plc1.module\");\nconst submodule = global.get (\"plc1.submodule\");\nconst ch_cfg = global.get (\"plc1.ch_cfg\");\nconst ch_hmi = global.get (\"plc1.ch_hmi\");\n\nif (!plcrt || !module || !submodule || !ch_cfg || !ch_hmi) return;\nlet modulscnt = plcrt.MODULSCNT.val;\nif (modulscnt<1) return;\nlet val, adr, adrw, mask, vali;\nlet modules = [];\nconst buf = Buffer.from(msg.payload);\n\nconst modulelength = 8;//in words \nlet bias = 0; //bias for module\nfor (let m = 0; m < modulscnt; m++) {\n    bias = m * modulelength * 2;//in bytes\n    modules [m] = {};\n    for (const prop in module){\n        type = module[prop].type;\n        adrw = module[prop].adr;\n        adr = adrw*2 + bias;\n        switch (prop) {\n        case 'TYPE':\n            vali = buf.readUInt16BE(adr).toString(16); \n            val = [\n                vali[0],\n                vali[1],\n                vali[2],\n                vali[3],                \n            ]\n            break;\n        case 'CHCNTS':\n            vali = buf.readUInt16BE(adr).toString(16); \n            val = [\n                Number.parseInt(vali[0],16),\n                Number.parseInt(vali[1],16),\n                Number.parseInt(vali[2],16),\n                Number.parseInt(vali[3],16),                \n            ]\n            break;\n        case 'STRTNMB':\n            val = [\n                buf.readUInt16BE(adr),\n                buf.readUInt16BE(adr+2),\n                buf.readUInt16BE(adr+4),\n                buf.readUInt16BE(adr+6),                \n            ]\n            break;\n        case 'STA':\n            vali = buf.readUInt16LE(adr);\n            val = {\n                bad: [\n                (vali & 0b0001) !== 0,\n                (vali & 0b0010) !== 0,\n                (vali & 0b0100) !== 0,\n                (vali & 0b1000) !== 0,\n                ],\n                isbuf: [\n                (vali & 0b00010000) !== 0,\n                (vali & 0b00100000) !== 0,\n                (vali & 0b01000000) !== 0,\n                (vali & 0b10000000) !== 0,\n                ],\n                cmdbuf: [\n                (vali & 0b000100000000) !== 0,\n                (vali & 0b001000000000) !== 0,\n                (vali & 0b010000000000) !== 0,\n                (vali & 0b100000000000) !== 0,\n                ]                \n            }\n            break;            \n        default:\n            switch (type) {\n            case 'UINT':\n                //to fututure chck protocol type\n                val = buf.readUInt16BE(adr);\n                break;\n            case 'INT':\n                //to fututure chck protocol type\n                val = buf.readInt16BE(adr);\n                break;\n            }\n        }\n        modules[m][prop] = {\n        decsr: module[prop].descr,\n        val: val,\n        type: type\n        }    \n    }    \n}\nglobal.set (\"plc1.modules\", modules);\nmsg.payload = modules;\nmsg.topic = \"modules\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":300,"wires":[["71015543.9eb58c","35fb3a3f.97491e"]]},{"id":"1e0c6284.93c0c5","type":"s7 in","z":"6a38c0bd.801a9","endpoint":"7b0cef48.67d668","mode":"single","variable":"CHBUF","diff":false,"name":"","x":110,"y":260,"wires":[["92c8b02.f14f1d"]]},{"id":"4e3c7429.dd3c34","type":"s7 in","z":"6a38c0bd.801a9","endpoint":"7b0cef48.67d668","mode":"single","variable":"SUBMODULE","diff":false,"name":"","x":130,"y":300,"wires":[["3f0a36f9.14a9ea"]]},{"id":"d9f21679.59f4c8","type":"link in","z":"d5e4d39c.6d5aa8","name":"tochbuft","links":["997cd263.a43a68"],"x":115,"y":420,"wires":[["38a1722a.829d46"]]},{"id":"50c9126f.e533b4","type":"link in","z":"d5e4d39c.6d5aa8","name":"tosubmodule","links":["adf4e9b5.558258"],"x":115,"y":480,"wires":[[]]},{"id":"997cd263.a43a68","type":"link out","z":"6a38c0bd.801a9","name":"chansfroms7","links":["d9f21679.59f4c8"],"x":275,"y":240,"wires":[]},{"id":"adf4e9b5.558258","type":"link out","z":"6a38c0bd.801a9","name":"chansfroms7","links":["50c9126f.e533b4"],"x":295,"y":300,"wires":[]},{"id":"92c8b02.f14f1d","type":"change","z":"6a38c0bd.801a9","name":"","rules":[{"t":"set","p":"protocol","pt":"msg","to":"S7","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":215,"y":240,"wires":[["997cd263.a43a68"]],"l":false},{"id":"3f0a36f9.14a9ea","type":"change","z":"6a38c0bd.801a9","name":"","rules":[{"t":"set","p":"protocol","pt":"msg","to":"S7","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":235,"y":300,"wires":[["adf4e9b5.558258"]],"l":false},{"id":"38a1722a.829d46","type":"function","z":"d5e4d39c.6d5aa8","name":"tochbuf","func":"const chcfg = global.get (\"plc1.ch_cfg\");\nconst chbuf = {}; \nlet val, adr, adrw, mask;\nif (!chcfg) return null;\nconst buf = Buffer.from(msg.payload);\nfor (const prop in chcfg){\n    type = chcfg[prop].type;\n    adrw = chcfg[prop].adr;\n    adr = adrw*2;\n    switch (type) {\n        case 'UINT':\n            //to fututure chck protocol type\n            val = buf.readUInt16BE(adr);\n            break;\n        case 'INT':\n            val = buf.readInt16BE(adr);\n            break;\n        case 'BOOL':\n            bit = chcfg[prop].bit;\n            mask = 1 << bit;\n            val = ((buf.readInt16LE(adr) & mask) !== 0);\n            break;\n    }    \n    chbuf[prop] = {\n    decsr: chcfg[prop].descr,\n    val: val,\n    type: type\n    }      \n    //console.log(`${prop}`);\n}\nglobal.set (\"plc1.chbuf\", chbuf);\nmsg.payload = chbuf;\nmsg.topic = \"chbuf\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":420,"wires":[[]]},{"id":"35fb3a3f.97491e","type":"function","z":"d5e4d39c.6d5aa8","name":"map","func":"let table = [];\nlet i=0;\nfor (const m of msg.payload){\n    let subms = [];\n    for (let j = 0; j < 4; j++) {\n        subms[j] = {\n            mtypecode: m.TYPE.val[j],\n            strtnmb: m.STRTNMB.val[j],\n            chcnts: m.CHCNTS.val[j],\n            bad: m.STA.val.bad[j],\n            isbuf: m.STA.val.isbuf[j],\n            cmdbuf: m.STA.val.cmdbuf[j]\n        };\n        switch (m.TYPE.val[j]) {\n           case '0':\n            subms[j].mtypestr = ' '; \n            break;\n           case '1':\n            subms[j].mtypestr = 'DI';               \n            break;\n           case '2':\n            subms[j].mtypestr = 'DO';                   \n            break;\n           case '3':\n            subms[j].mtypestr = 'AI';                   \n            break;\n           case '4':\n            subms[j].mtypestr = 'AO';                   \n            break;\n           case '5':\n            subms[j].mtypestr = 'COM';                   \n            break;\n           default: \n            subms[j].mtypestr = ' '; \n            break;           \n        }\n    }    \n    table [i] = {\n        'Mod' : i,\n        'Sub1CFG': subms[0].mtypestr + '(' + m.CHCNTS.val[0] + ')' + ':' + m.STRTNMB.val[0] + '..' + ((+m.STRTNMB.val[0]) + (+m.CHCNTS.val[0])),\n        'Sub1buf': subms[0].isbuf,\n        'Sub1bad': subms[0].bad,\n        'Sub2CFG': subms[1].mtypestr + '(' + m.CHCNTS.val[1] + ')' + ':' + m.STRTNMB.val[1] + '..' + ((+m.STRTNMB.val[1]) + (+m.CHCNTS.val[1])),\n        'Sub2buf': subms[1].isbuf,\n        'Sub2bad': subms[1].bad,\n        'Sub3CFG': subms[2].mtypestr + '(' + m.CHCNTS.val[2] + ')' + ':' + m.STRTNMB.val[2] + '..' + ((+m.STRTNMB.val[2]) + (+m.CHCNTS.val[2])),\n        'Sub3buf': subms[2].isbuf,\n        'Sub3bad': subms[2].bad,\n        'Sub4CFG': subms[3].mtypestr + '(' + m.CHCNTS.val[3] + ')' + ':' + m.STRTNMB.val[3] + '..' + ((+m.STRTNMB.val[3]) + (+m.CHCNTS.val[3])),\n        'Sub4buf': subms[3].isbuf,\n        'Sub4bad': subms[3].bad        \n        \n    }\n    i++;\n}    \nmsg.payload = table;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":300,"wires":[["36b917b9.6de15"]]},{"id":"36b917b9.6de15","type":"ui_table","z":"d5e4d39c.6d5aa8","group":"e55006e6.6c052","name":"","order":1,"width":"23","height":"12","columns":[],"outputs":0,"cts":false,"x":650,"y":300,"wires":[]}]